#!/usr/bin/env python

"""PyVSB configuration file."""


import os

# Backup root
BACKUP_ROOT = os.path.expanduser("~/backup")

# Maximum number of backups per backup group
MAX_BACKUPS = 7

# Maximum number of backup groups
MAX_BACKUP_GROUPS = 4

# Trust file modify time when checking for file changes
#TRUST_MODIFY_TIME = True

# Preserve hard links information when writing backups
#PRESERVE_HARD_LINKS = True

# Backup data compression format: "bz2", "gz", "none"
#COMPRESSION = "bz2"

# Backup items
BACKUP_ITEMS = {
    "/etc": {},

    "/home/dmitry": {
        "before": "tree -aN --dirsfirst /home/dmitry/temp > /home/dmitry/.directory_tree",
        "after":  "rm -f /home/dmitry/.directory_tree",

        "filter": [
            r"-^Downloads$",
            r"-^rpmbuild$",
            r"-^temp$",
            r"-^\.cache$",
            r"-^\.dropbox",
            r"-^\.[eE]ncrypted$",
            r"-^\.mozilla$",
            r"-^\.ssh/connection-",
            r"-^\.thunderbird$",
        ],
    },
}


# You can do arbitrary actions in these handlers to control your backup
# creation. For example, upload created backups to cloud.

def on_backup_created(log, group, name, path):
    """Called when a backup is created."""

def on_group_created(log, name):
    """Called when a backup group is created."""

def on_group_deleted(log, name):
    """Called when a backup group is deleted."""
